#root {
  text-align: center;
  color: var(--secondary-color);
  --secondary-color: #feda4a;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  background: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
}

.main-style {
  display: flex;
  flex-direction: column;
}

.app-style {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

@media screen and (max-width: 500px) {
  .wrapper {
    min-height: calc(100vh + 10px);
  }
  
}